body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

button {
    margin-bottom: 10px;
    background-color: #ADD8E6;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    width: 200px; /* 所有按鈕統一寬度 */
}

button:hover {
    background-color: #9AC0CD;
}

audio, video {
    width: 300px;
    align-self: center;
    margin-bottom: 20px;
}

#codecPreferences {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#errorMsg {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}
